<div id="header">
<a href="/">
  <i class="fa fa-home fa-lg"></i>
</a>
<a href="/experience">
  <i class="fa fa-globe fa-lg"></i>
</a>
<a href="/education">
  <i class="fa fa-mortar-board fa-lg"></i>
</a>
<a href="/skills">
  <i class="fa fa-gears fa-lg"></i>
</a>
<a href="/awards">
  <i class="fa fa-trophy fa-lg"></i>
</a>
</div>

<!-- awards, contact?, photo, writing -->