<div id="menu">
	<a href="/" title="Home">
	  <i class="fa fa-home fa-2x"></i>
	</a>
	<a href="/resume" title="Resume">
	  <i class="fa fa-book fa-2x"></i>
	</a>
	<a href="/projects" title="Projects">
	  <i class="fa fa-flask fa-2x"></i>
	</a>
	<a href="/photos" title="Photos">
	  <i class="fa fa-photo fa-2x"></i>
	</a>
	<a href="/contact" title="Contact">
	  <i class="fa fa-envelope fa-2x"></i>
	</a>
</div>