<div id="header">
	<%= erb :intro %>
</div>

<div id="main">
	<div id="experiences">
		<% @content['experiences'].each do |experience| %>
			<%= erb :experience, locals: {experience: experience} %>
		<% end %>
	</div>
</div>

<div id="footer">
</div>