<div class="card" id="declaration">
	<div id="mairin">
		MAIRIN CHESNEY
	</div>
	<div id="description">
		Software Engineer • Student • Maker • Thinker
	</div>
</div>

<div class="hero">
	<div class="hero-inner">
    <a href="/resume.pdf" target="_blank"><div class="button">Resume</div></a>
    <!-- TODO: change to site specific email-->
    <a href="mailto:mairinchesney@google.com?subject=Mail from mairinchesney.com"><div class="button">Contact</div></a>
	</div>
</div>