<h2>Skills</h2>

<% skills.each do |skill| %>
  <div class="skill">
    <div class="name"><%= skill['name'] %></div>
    <div class="proficiency">
      <% skill['level'].times do %>
          X
      <% end %>
    </div>
  </div>
<%end%>