@import "bourbon/bourbon";
@import "neat/neat";

$medium: new-breakpoint(max-width 1160px 12);
$smaller: new-breakpoint(max-width 799px 4);
$tiny: new-breakpoint(max-width 479px 4);

$header-font: 'Montaga', serif;
$body-font: 'Josefin Sans', sans-serif;

$black: #111111;
$light-gray: #555555;

$card-color: rgba(0, 0, 0, 0.3);
$text-color: #000000;

body {
    background-image: url("/congruent_pentagon.png");
    font-family: $body-font;
    line-height: $gutter;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

.container {
    @include outer-container;
}

.card {
    background-color: $card-color;
    color: $text-color;
    margin: 1em;
    padding: 1em;
}

#header {
    margin: 1em auto 1em auto;
    max-width: 16em;
    a {
        @include span-columns (1 of 5);
        text-align: center;
        text-decoration: none;
        &:link, &:visited { color: $black; }
        &:hover, &:active { color: $light-gray; }
    }
}