//$visual-grid: true;

@import "bourbon/bourbon";
@import "neat/neat";

$medium: new-breakpoint(max-width 1160px 12);
$smaller: new-breakpoint(max-width 799px 4);
$tiny: new-breakpoint(max-width 520px 4);

$header-font: 'Philosopher', serif;
$body-font: 'Muli', sans-serif;

$background-color: #fffffa;
$card-color: rgba(0, 0, 0, 0.05);
$text-color-dark: #111111;
$text-color-light: #fffffa;

body {
    background-color: $background-color;
    color: $text-color-dark;
    font-family: $body-font;
    line-height: $gutter;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

a {
    text-decoration: none;
    &:link, &:visited { color: $text-color-dark; }
    &:hover, &:active { color: $text-color-light; } 
}

.container {
    @include outer-container;
}

.hero {
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $gradient-angle: 10deg;
  $hero-image: '/me.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-top: 1em;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    text-align: center;
    color: $text-color-light;

    a {
      &:link, &:visited, &:hover, &:active { color: $text-color-light; }
    }
    .button {
      display: inline-block; 
      margin: 12em 0;
      padding-top: 3.3em;
      background: rgba(0, 0, 0, 0.2);
      width: 8em;
      height: 8em;
      @include media($tiny) {
        margin: 8em 0;
      }
    }
    .button-left {
      margin-right: 1em;
    }
  }
}

.card {
    @include span-columns(12);
    background-color: $card-color;
    padding: 0.25em 1em;
    margin-top: $gutter;
    text-align: justify;
}

#declaration {
    margin-top: 0;
    #mairin {
        text-align: center;
        font-family: $header-font;
        font-size: 3em;
        margin: 0.7em 0 0.3em 0;
        @include media($tiny) {
            font-size: 2em;
        }
    }
    #description {
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 1em;
        @include media($tiny) {
            font-size: 0.8em;
        }
    }
}